{% load static %}
{% include "header.html" %}
            <div class = content>
                <h1>{{profession.title}}</h1>
                <div class = description>
                    Исходя из данных, представленных на сайтах по размещению вакансий средний уровень заработной платы специалистов по информационной безопасности с опытом 1-3 года находится на уровне 40.000-70.000 рублей. Это относится к специалистам начальной группы (junior), с малым опытом работы, по профессиональным требованиям и обязанностям это хорошо видно (здесь и далее представлены «усреднённые» показатели):

                    <h2>Обязанности:</h2>
                    <ul>
                        <li>Администрирование межсетевых экранов Cisco ASA и Kerio Connect;</li>
                        <li>Администрирования сервера антивирусной защиты, мониторинг состояния клиентов, удаление вирусов, тонкая настройка защиты;</li>
                        <li>Поиск уязвимостей с помощью специализированного ПО и их устранение;</li>
                        <li>Мониторинг выхода обновлений для ОС, ПО и сетевого оборудования;</li>
                        <li>Настройка и управление коммутационным оборудованием;</li>
                        <li>Написание скриптов оптимизации управления системами безопасности;</li>
                        <li>Управление инфраструктурой предоставления доступов;</li>
                        <li>Периодический анализ логов.</li>
                    </ul>

                    <h2>Требования:</h2>
                    <ul>
                        <li>Опыт администрирования ОС Windows от 1-го года;</li>
                        <li>Базовые знания ОС Linux от 1-го года, уверенная работа в командной строке;</li>
                        <li>Базовые знания работы сетей. IP адресация, статическая маршрутизация, модели ISO OSI, TCP;</li>
                        <li>Опыт администрирования Active Directory: настройка групповых политик(GPO), управление правами пользователями;</li>
                        <li>пыт настройки систем защиты от НСД на базе Windows;</li>
                        <li>Опыт настройки антивирусных систем;</li>
                        <li>Опыт разработки сложных конфигураций межсетевого экрана IPTables;</li>
                        <li>Умение настраивать Apache2, nginx, Auditd, MySQL, PostgreSQL, Rsyslog.</li>
                    </ul>
                </div>
            </div>
{% include "footer.html" %}
